<div class="clearfix"></div>
<div>
    <table width="100%" ng-if="found.length !== 0">
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr ng-repeat="x in found">
            <td width="20%">{{x.name}}</td>
            <td width="10%">{{x.short_name}}</td>
            <td width="50%">{{x.description}}</td>
            <td width="20%" style="border:0;"><button ng-click="onRemove({index:$index})">Don't want this one!</button></td>
        </tr>
    </table>
    
</div>